/Data/Index
/Data/Cache
/Data/Local/Session.sublime_session
/Data/Packages/User/Package Control.cache
/Data/Packages/User/Sublimerge Macros.sublime-commands
/Data/Packages/User/Package Control.last-run
